{% extends "base.html" %}
{% load staticfiles %}
{%  block custom_css %}
    <link rel="stylesheet" href="{% static 'css/panorama.css' %}"/>

{% endblock %}

{% block banner %}
    {% for image in images %}
        <div class="gallery">
            <span> {{ image.description }}</span>
            <img src="{% static image.file_path %}" class="img-responsive" alt="Responsive image"/>
        </div>
    {% endfor %}
{#    <div>#}
{#    <img src="{% static "images/hawaii.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    </div>#}
{#    <img src="{% static "images/hawaii2.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/volley.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/byutrack.JPG" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/wyoming2.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/wyoming1.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/paris2.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/paris3.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/powell.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/powell2.jpg" %}" class="img-responsive" alt="Responsive image">#}
{#    <img src="{% static "images/beach.jpg" %}" class="img-responsive" alt="Responsive image">#}



{% endblock %}
{% block right_content %}
{% endblock %}

{% block main_content %}

{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/panorama_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/panorama.js' %}"></script>

{% endblock %}