{% extends "base.html" %}
{% load staticfiles %}

{% block banner %}
    <img src="{% static "images/wyoming2.jpg" %}" class="img-responsive" alt="Responsive image">
    <img src="{% static "images/hawaii.jpg" %}" class="img-responsive" alt="Responsive image">
    <img src="{% static "images/wyoming1.jpg" %}" class="img-responsive" alt="Responsive image">
    <img src="{% static "images/powell.jpg" %}" class="img-responsive" alt="Responsive image">

{% endblock %}
{% block right_content %}
{% endblock %}

{% block main_content %}
    <h1>Education</h1>
    <p><strong>Going to add some great stuff here.</strong></p>
    <ul>
    <li>I took a web dev class.</li>
    </ul>
{% endblock %}

