<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
{% block title %}
    <title>About Me</title>
{% endblock %}
    <link rel="stylesheet" href="{% static "css/variables.less" %}"/>
    <link rel="stylesheet" href="{% static "css/bootswatch.less" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {%  block custom_css %}
    {% endblock %}

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/homepage">mhelvey</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/homepage/about">About Me</a></li>
                <li><a href="/homepage/adventures">Adventures</a></li>
                <li><a href="/homepage/education">Education</a></li>
                <li><a href="/homepage/experience">Experience</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/homepage/contact">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>
    <main>
        {% block banner %}
        <img src="{% static "images/paris.jpg" %}" class="img-responsive" alt="Responsive image">
        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    {% block right_content %}
                    <img src="{% static "images/me.jpg" %}" alt="..." class="img-rounded img_thumbnail">
                    {% endblock %}
                </div>
                <div class="col-md-10">
                    {% block main_content %}
                    <h1>About Me</h1>
                    <ul>
                        <li>Born and raised in the Bay Area</li>
                        <Li>Spent two years in France and Belgium on a church service mission</Li>
                        <li>BYU Student in the Marriott School of Management</li>
                        <li>Happily married</li>
                        <li>Dad to a beautiful baby girl</li>
                        <li>NBA fanatic</li>
                        <li>Star Wars nerd</li>
                    </ul>
                    {% endblock %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

    </main>
    <footer>

    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block custom_js %}
    {% endblock %}

</body>
</html>