{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Contact</title>
{% endblock %}

{% block banner %}
{% endblock %}
{% block right_content %}
{% endblock %}

{% block main_content %}

    <div class="jumbotron">
      <h1>Connect with me!</h1>
        <p>
          <a target="_blank" href="https://plus.google.com/u/0/+MichaelHelvey/posts"> <i class="fa fa-google-plus-square fa-3x"></i></a>
          <a target="_blank" href="https://github.com/mhelvey"> <i class="fa fa-github-square fa-3x"></i></a>
          <a target="_blank" href="https://twitter.com/mhelvey"> <i class="fa fa-twitter-square fa-3x"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/michaelhelvey"> <i class="fa fa-linkedin-square fa-3x"></i></a>
        </p>

    </div>

{% endblock %}

