{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Education</title>
{% endblock %}


{% block banner %}
    <img src="{% static "images/BYU.jpg" %}" class="img-responsive" alt="Responsive image">

{% endblock %}
{% block right_content %}
{% endblock %}

{% block main_content %}
    <h1>Education</h1>
    <h3>Master of Information Systems Management</h3>
    <h4>Brigham Young University - 2016</h4>
    <ul>
    <li>Academic Scholarship 2012-2015</li>
    <li>GPA 3.78, Major GPA 3.85</li>
    <li>Member of the Association of Information Systems</li>
    <li>Specialized Courses:</li>
    <ul>
        <li>Web Development</li>
        <li>iOS Development (Swift)</li>
        <li>Java Development</li>
        <li>Enterprise Application Development</li>
        <li>Advanced Excel</li>
        <li>VBA Programming</li>
        <li>International Business</li>
        <li>Database Management</li>
        <li>Data Mining</li>
        <li>Data Communications</li>
        <li>Enterprise Infrastructure</li>
        <li>Systems Analysis and Design</li>
        <li>Information Security</li>
        <li>Project Management</li>
        <li>Ethics for Management</li>

    </ul>
    </ul>
{% endblock %}

