body { padding-top: 65px; }


.img_thumbnail{
    height: 200px;
    margin-top: -75px;
    margin-left: 30%;
}

@media (min-width: 760px) {
    .img_thumbnail {
        height: 200px;
        margin-left: -60px;
        margin-top: -15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .img_thumbnail {
        height: 200px;
        margin-left: -60px;
        margin-top: -15px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .img_thumbnail {
        height: 200px;
        margin-left: -60px;
        margin-top: -15px;
    }
}